table{
    width: 250px;
    height: 250px;
    background-color: rgb(190, 231, 233);
    border: 5px solid blue;
    border-radius: 15px;
    padding: 10px 10px 10px;
    position:absolute

}


tr th{
    width: 2px;
    height: 2px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 6px;
    padding: 6px;
    
}
td{
    width: 4px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}